@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter, Helvetica, Arial, system-ui, sans-serif;
}

/* Tipografia padrão */
body {
    font-size: 16px; /* normal */
    color: #2f2f2f;
    background: #f7f9f9;
    line-height: 1.7;
}

h1 {
    font-size: 3rem; /* grande */
    font-weight: 600;
}

/* Padrão de blocos */
div {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 24px;
}
header {
    position: sticky;
    top: 0;
    width: 100%;
    height: 72px;

    background-color: #ffffff;
    z-index: 1000;
    border-bottom: 2px solid #3f7f79;
}

header > div {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav {
    display: flex;
    gap: 32px;
}

nav a {
    text-decoration: none;
    font-weight: 500;
    color: #3f7f79;
    position: relative;
    transition: color 0.3s ease;
}

nav a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 0;
    height: 2px;
    background: #3f7f79;
    transition: width 0.3s ease;
}

nav a:hover::after {
    width: 100%;
}

main {
    min-height: 100vh;

    background:
        linear-gradient(
            120deg,
            rgba(63,127,121,0.75),
            rgba(95,168,161,0)
        ),
        url('./assents/Main.webp')
        center / cover no-repeat;

    display: flex;
    align-items:center;
}

main > div {
    color: #ffffff;
    max-width: 600px;
    margin: 15% 10%;
}

main p {
    max-width: 520px;
    margin: 20px 0 32px;
}

a.button {
    display: inline-block;
    padding: 14px 34px;
    border-radius: 999px;

    background: #ffffff;
    color: #3f7f79;
    font-weight: 600;
    text-decoration: none;

    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

a.button:hover {
    transform: scale(1.025);
    box-shadow: 0px 0px 50px rgba(0,0,0,0.5);
}
